.cabecalho {
    background-color: #AE9D98;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content:space-between;
    align-items:flex-end;
    scroll-padding-top: 10px 0;
        font-family: 'Poppins', sans-serif;
}

.cabecalho-imagem{
    width: 24%;
}

.cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    font-size: 24px;
}

.escola-imagem{
    width: 25%;
}

.escola{
    background-color: #AE9D98;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 190px 0;
}

.escola-div-conteudo{
    width: 55%;
}

.escola-titulo{
    padding: 24px 0;
}

body{font-family: 'Poppins', sans-serif;}
